@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --whiteColor: #ffffff;
  --primaryColor: #9a1c59;
  --secondaryColor: #ff7670;
  --tertiaryColor: #979797;
  --blackColor: #000000;
  --bgColor: #f9f2f5;

  /* font-family */
  --primaryFont: "Lato", sans-serif;
}

@layer components {
  * {
    @apply text-[14px];
  }
  html {
    font-family: var(--primaryFont);
  }
  p {
    @apply text-[14px] text-gray-700;
  }

  .inputContainer {
    @apply bg-white shadow-sm px-3 py-3 text-xs text-black font-bold rounded-md relative ring-1 ring-slate-900/5;
  }

  .button,
  button {
    @apply text-sm bg-[var(--primaryColor)] w-full py-3 rounded-md hover:bg-[#a71d60] text-white disabled:cursor-not-allowed disabled:bg-gray-500;
  }
  .asideActive {
    @apply bg-[#EDD5E1] border-l-[var(--primaryColor)] border-l-[5px];
  }
  .asideLink {
    @apply w-max pl-4 pr-20 py-2 flex items-center gap-3  transition ease-in-out;
  }
  .card {
    @apply bg-white p-4 rounded-md;
  }

  .input {
    @apply border-gray-100 accent-[var(--primaryColor)] cursor-pointer;
  }
}
